* {
  color: white;
  font-family: customFont;
  font-weight: normal;
}

html {
  background-image: linear-gradient(to bottom right, black ,rgb(49, 52, 58));
  background-attachment: fixed;
}

@font-face {
  font-family: customFont;
  src: url(../fonts/rexlia.ttf);
}

.container {
  margin: 0 auto;
}
#login h2, #login p, #login p a{
  font-family: customFont;
}
#login{
  margin-top: 100px;
  margin-left: -50px;
  text-align: center;
  font-size: 35pt;
  font-family: customFont;
}
#login form{
  font-family: customFont;
  text-align: center;
  padding-top: 30px;
  margin-top: 100px;
}
#login form input{
  padding: 20px;
  font-family: customFont;
  text-align: center;
  font-size: 40pt;
  margin-bottom: 60px;
}

header {
  background-color: black;
  display: flex;
  flex-direction: row;
  gap: 10em; /* space between elements in the row */
  justify-content: space-between; /* align along the flex direction */
  align-items: center; /* align across the flex direction */
}
h1{
  font-size: 40pt;
  font-family: customFont;
}

header,
main {
  padding: 2rem;
}
refs {
  margin-left: 5px;
}

header { /*removed main*/
  border-bottom: 0.5px solid white;
  box-shadow: 0px -10px 30px 1px #ffffff;
  margin-bottom: 5px;
}

main {
  margin-top: 50px;
  margin-left: 60px;

}

/* NEW STUFF (OTHER PEOPLE)*/
#appname {
  font-weight: bolder;
  font-size: 50px;
  padding: 10px 10px;
  text-shadow: 1px 1px 10px rgb(0, 247, 255) ;
  /*box-shadow:0px 0px 10px rgb(0, 247, 255);*/
}

#welcome {
  font-size: 20pt;
  font-family: customFont;
  text-align: right;
}
#welcome a{
  font-size: 20pt;
  font-family: customFont;
  border: 1px solid rgb(249, 245, 245);
  border-radius: 5px;
  text-align: right;
  padding: 10px;
}

.flashes p {
  background-color: pink;
  border-radius: 5px;
  padding: 20px;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid gray;
  margin: 10px 0;
}
#pack{
  text-align: center;
  margin: 0px auto;
  margin-top: 200px;
  border: 1px solid white;
  background-color: black;
  border-radius: 15px;
  width: 25vh;
  height: 40vh;
}

#pack h2{
  margin-top: 250px;
  font-size:34pt;
}

#open{
  width: 200px;
  height: 100px;
  font-size: 30pt;
  border-radius: 5px;
}

#packed_card .card{
  margin-left: 15%;
  margin-top: 200px;
  border-radius: 15px;
  width: 25vh;
  height: 50vh; 
}
#packed_card .card img{
  width: 80%;
  height: 50%;
  right: -5px;
}
#packed_card .card h3{
  font-size: 30pt;
  top:  3%;
}
.card{
  float: left;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  z-index: 100;
  font-style: normal;
  font-weight: 400;
  margin-top: 70px;
  margin-right: -50px;
}
.card h3{
  text-align: left;
  left: 6%;
  position: relative;
  font-size: 20pt;
  font-family: customFont;
  top:3%; 
}
#legendary{
  background-image:url('../images/legendary.png');
  color: rgb(235,132,25);
}

#epic{
  color: rgb(146, 73, 218);
  background-image:url("../images/epic.png");
}

body {
  margin:0px 0px 55px 0px;
  overflow:auto;
}
.button {
  width:100%;
  padding: 1%;
  margin: 5px;
  background-color: black;
  /*----------------------*/
  justify-content: center;
  text-align: center;
  align-items: center;
  display: flex;
  /*----------------------*/
  font-family: "Anonymous Pro", monospace;
  color: white;
  text-decoration: none;
  text-shadow: 5px 1px 20px rgb(0, 247, 255) ;
  font-size: 3.5vw;
}
footer {
  width: 100%;
  height:8vh;
  display:flex;
}
#source {
  height:10vh;
  position: fixed;
  margin-left: 5px;
  bottom: 0;
}
#navBar {
  width:100%;
  background-color:rgb(34, 34, 34);
  position: fixed;
  bottom: 0;
}
#basic{
  color: rgb(248, 248, 248);
  background-image:url("../images/basic.png");
}
.extension {
  margin-top: 50px;
  margin-left: 75px;
  margin-bottom: 500px;
}
.gif{
  position: relative;
  top: 25px;
  right: 15%;
  width:250px;
  height:250px;
  z-index: -1;
}

input {
  color: black;
}

.placeholder{
  background-color: black;
  border: 2px solid white;
  border-radius: 20px;
  float: left;
  width: 270px;
  height: 395px;
  text-align: center;
  z-index: 100;
  font-style: normal;
  font-weight: 400;
  margin-top: 70px;
  margin-right: 70px;
}

#selection {
  margin-left: 25%;
  margin-top: 50%;
  font-size: 30pt;
  font-family: customFont;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.trading {
  border-bottom: 1px solid white;
  clear: both;
  margin-right: 25%;
  padding-bottom: 25px;
  margin-bottom: 500px;
}

#selectcard {
  border-bottom: 1px solid white;
  margin-top: -3%;
  padding-bottom: 25px;
  margin-right: 25%;
  margin-bottom: -3%;
}

table.center {
  text-align : center;
  border : 1px black;
  margin-left:auto; 
  margin-right:auto;
}