* {
  font-family: helvetica;
  font-weight: normal;
}

@font-face {
  font-family: customFont;
  src: url(../fonts/rexlia.ttf);
}

.container {
  border: 2px solid;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  flex-direction: row;
  gap: 10em; /* space between elements in the row */
  justify-content: space-between; /* align along the flex direction */
  align-items: center; /* align across the flex direction */
}

header,
footer,
main {
  padding: 2rem;
}

header,
main {
  border-bottom: 2px solid;
  margin-bottom: 5px;
}

section.posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
}

article.post {
  border: 1px solid black;
  padding: 1rem;
}
article.post.new-post {
  background-color: #f0f0f0;
}
article.post .controls {
  font-size: 12px;
}
article.post .author {
  font-size: 12px;
}
article.post p.message {
  font-size: 24px;
}

footer {
  margin-bottom: 5px;
}

.flashes p {
  background-color: pink;
  border-radius: 5px;
  padding: 20px;
}

form input,
form textarea {
  padding: 10px;
  border: 1px solid gray;
  margin: 10px 0;
}

#pack{
  text-align: center;
  margin: 0px auto;
  border: 1px solid black;
  width: 100px;
  height: 200px;
}


.card{
  width: 200px;
  height: 200px;
  background-repeat:no-repeat;
  background-size:contain;
  text-align: center;
  z-index: 100;
  font-style: normal;
  font-weight: 400;
}
.card h3{
  text-align: left;
  left: 45px;
  position: relative;
  font-size: smaller;
  font-family: customFont;
  top:15%; 
}
#legendary{
  background-image:url('../images/legendary.png');
  color: rgb(235,132,25);
}

#epic{
  color: rgb(146, 73, 218);
  background-image:url("../images/epic.png");
}
#basic{
  color: rgb(248, 248, 248);
  background-image:url("../images/basic.png");
}


.gif{
  position: relative;
  top: 20px;
  width:100px;
  height:100px;
  z-index: -1;
}