<footer id="navBar">
    <!--{% if user.is_authenticated %}
    Welcome, {{user.data.email }}!<br />-->
    <a href="{{ url_for('open_pack')}}" class = "button">Open Pack</a>
    <a href="{{ url_for('all_cards')}}" class = "button">All Cards</a>
    <a href="{{ url_for('exchange')}}" class = "button">Trade/Gift</a>
    <a href="{{ url_for('showcase')}}" class = "button">Showcase</a>
    <a href="{{ url_for('my_cards')}}" class = "button">My Cards</a>
    <!--{% else %}
    {% endif %}-->
</footer>
