{% extends 'base.html' %}

{% block container %}
    <h1>LeaderBoard</h1>
    <section id="collection">
            <table class="center">
                <tr>
                    <th>
                        Top 5 Users
                    </th>
                </tr>
                {% for user in top5 %}
                <tr>
                    <td>
                            <h3>{{user.email}}</h3>
                    </td>
                </tr>
                {%endfor%}
            </table>
    </section>

{% endblock %}